.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
