.categories-wrapper {
  margin: -1em 0 1.5em 0;
  text-align: start;
  small {
    color: rgb(158, 158, 158);
    font-weight: 600;
    margin-left: 2em;
    font-size: 0.9em;
  }

  .categories-card-wrapper {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 1em 0;
    overflow-x: scroll;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 5em;
    scroll-snap-type: x mandatory;

    .categories-card {
      min-width: 200px;
      min-height: 150px;
      height: 160px;
      padding: 1em 0.3em 0 0.3em;
      margin-left: 0.5em;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      scroll-snap-align: center;
      background: var(--category-color);
      animation: appear 1s ease-in-out;

      .category-Img {
        max-width: 75%;
      }

      h3 {
        color: var(--header-color);
      }
    }
    .selected {
      background: #d6a939;
      h3 {
        color: var(--selected-color);
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
