@use '../main.scss';

.App {
  text-align: center;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;
}

// variables
:root {
  --header-color: #525067;
  --secondary-h-color: rgb(214, 170, 57);
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-home-wrapper:last-of-type {
  margin-bottom: 8em;
}
