.App {
  text-align: center;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;
}

:root {
  --header-color: #525067;
  --secondary-h-color: rgb(214, 170, 57);
}

h1 {
  color: var(--header-color);
  font-size: calc(25px + 2vmin);
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card img {
  max-width: 85%;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.card {
  width: calc(190px + 17vmin);
  background: #fff;
  padding: 1.5em 1.9em;
  border-radius: 10px;
  color: var(--header-color);
  box-shadow: 2px 20px 40px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  place-content: center;
  margin-bottom: 2em;
  z-index: 2;
}

.header-wrapper {
  margin-bottom: 3em;
  /* animation: show 1.4s ease-in-out; */
}

.header-wrapper h1 {
  color: var(--secondary-h-color);
}

.header-wrapper img {
  width: 300px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.input-wrapper button {
  color: rgb(214, 170, 57);
  border: 1px solid var(--header-color);
}

.input-wrapper button:hover {
  background: var(--header-color) !important;
}
.input-wrapper input:focus {
  border: 2px solid rgb(214, 170, 57);
  box-shadow: none;
}
.input-wrapper input {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .card {
    width: calc(210px + 20vmin);
  }
}
@media screen and (min-width: 400px) {
  .header-wrapper img {
    width: 400px;
  }
}

@media screen and (min-width: 765px) {
  .card {
    width: calc(200px + 5vmin);
    max-height: calc(450px + 1vmin);
  }
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 60%;
  background: rgb(214, 170, 57) url(./assets/breakfast.svg);
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* svg */

.st0 {
  fill: #f2f2f2;
}
.st1 {
  fill: #3f3d56;
}
.st2 {
  opacity: 0.1;
  enable-background: new;
}
.st3 {
  fill: #61ab43;
}
.st4 {
  fill: #ea565c;
}
.st5 {
  opacity: 0.2;
  fill: #ffffff;
  enable-background: new;
}
.st6 {
  fill: #714b4f;
}
.st7 {
  opacity: 0.1;
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
  enable-background: new;
}
.st8 {
  fill: #f6c964;
}
.st9 {
  fill: #575a89;
}
.st10 {
  fill: #ffb9b9;
}
.st11 {
  fill: #525067;
}
.st12 {
  fill: #46455b;
}
.st13 {
  fill: #a8a8a8;
}
.st14 {
  opacity: 0.2;
  enable-background: new;
}
